body{
    background-color: #120e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Courier New', Courier, monospace;

}
.calculator{
    height: 400px;
    width: 300px;
    background-color: rgb(15, 117, 49);
    padding: 20px;
}
#display{
    width: 95%;
    height: 15%;
    border-radius: 10px;
    text-align: right;
    color:black;
    padding: 10px;
    font-size: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
}
button{
    height: 70px;
    font-size: x-large;
    margin: 2px;
    border-radius: 5px;
}
#equal{
    height: 50px;
    margin-left: 50px;
    width: 200px;
}